.map.icon {
    color: #000;
    position: absolute;
    margin-left: 8px;
    margin-top: 4px;
    width: 4px;
    height: 10px;
    border-radius: 1px;
    border: solid 1px currentColor;
    -webkit-transform: skewY(20deg);
            transform: skewY(20deg);
  }
  
  .map.icon:before {
    content: '';
    position: absolute;
    left: -6px;
    top: 1px;
    width: 4px;
    height: 10px;
    border-radius: 1px;
    border: solid 1px currentColor;
    -webkit-transform: skewY(-40deg);
            transform: skewY(-40deg);
  }
  
  .map.icon:after {
    content: '';
    position: absolute;
    left: 4px;
    top: -3px;
    width: 4px;
    height: 10px;
    border-radius: 1px;
    border: solid 1px currentColor;
    -webkit-transform: skewY(-40deg);
            transform: skewY(-40deg);
  }
  
  .menu.icon {
    color: #000;
    position: absolute;
    margin-left: 2px;
    margin-top: 10px;
    width: 17px;
    height: 1px;
    background-color: currentColor;
  }
  
  .menu.icon:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 17px;
    height: 1px;
    background-color: currentColor;
  }
  
  .menu.icon:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 17px;
    height: 1px;
    background-color: currentColor;
  }
  
    