#map { height: var(--body-height); }

.marker {
    
    background-size: cover;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
/*
  .marker_vehicle {
    background-image: url('../media/img/point/camion.png');
    background-size: cover;
    background-color: rgba(255,0,0,0.2);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }

  .marker_notre_vehicle {
    background-image: url('../media/img/point/camion.png');
    background-size: cover;
    background-color: rgba(0,255,0,0.2);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }

  .marker_facility {
    background-image: url('../media/img/point/caserne.png');
    background-size: cover;
    background-color: rgba(255,0,0,0.2);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }

  .marker_notre_facility {
    background-image: url('../media/img/point/caserne.png');
    background-size: cover;
    background-color: rgba(0,255,0,0.2);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }*/