@charset "UTF-8";
@import "header.css";

* {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

:root{
    --nav-height: 50px;
    --body-height: calc(100vh - var(--nav-height));
}

/* https://codepen.io/sosuke/pen/Pjoqqp */

.filter_red {
    filter: invert(18%) sepia(74%) saturate(6938%) hue-rotate(357deg) brightness(103%) contrast(92%);
}
.filter_green {
    filter: invert(49%) sepia(78%) saturate(1437%) hue-rotate(81deg) brightness(119%) contrast(121%);
}
.filter_blue {
    filter: invert(69%) sepia(87%) saturate(5320%) hue-rotate(162deg) brightness(96%) contrast(101%);
}
.filter_black {
    filter: invert(0%) sepia(20%) saturate(1636%) hue-rotate(359deg) brightness(85%) contrast(87%);
}

.filter_gray {
    filter: invert(73%) sepia(11%) saturate(0%) hue-rotate(189deg) brightness(92%) contrast(89%);
}

.filter_yellow {
    filter: invert(78%) sepia(30%) saturate(1940%) hue-rotate(357deg) brightness(103%) contrast(106%);
}

.filter_pink {
    filter: invert(73%) sepia(31%) saturate(567%) hue-rotate(306deg) brightness(109%) contrast(106%);
}

 